body{
    background-color: beige;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px; 
}

h1,
h2{
    text-align: center;
}

div{
    align-content: center;
}

table{
    border: 2px solid black;
    text-align: center;
    margin: auto;
}

th{
    height: 15px;
    width: 500px;
   background-color: wheat;
}

td{
    height: 10px;
    width: 500px;
   background-color: wheat;
}

button{
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-left: 45%;
    width: 15%;
}